body
{
text-align: center;
background-color:darkblue;
color: ghostwhite;
}
img
{
height: 500px;
width: 80%;
}
.whatsNew_li
{
height:auto;
border-radius:30px;
}
.p_modal
{color: currentColor;
}